@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;400&family=Poppins:wght@400;500;600&family=Syncopate:wght@700&display=swap');

/*------------------
    Fonts
-------------------*/
$primaryFont: 'Commissioner', sans-serif;
$secondaryFont: 'Poppins', sans-serif;
$tertiaryFont: 'Syncopate', sans-serif;

/*------------------
    Colors
-------------------*/
$bg-color: #090909;
$color-white: #fff;
$color-gray: #f4f4f4;
$dark-gray: #a0a0a0;
$dark-olive: #ffd180;
